<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>{% block title %}{% endblock %} - BankMessager</title>
<nav>
  <h1>Welcome to BankMessager!</h1>
  <!-- <b>Navigation:</b> -->
  <ul>
    <li><a href="{{ url_for('index') }}">Submit a message</a></li>
    <li><a href="{{ url_for('view_records')}}">View records</a></li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>